.top_banner{
  height: 600px;
}

.top_banner .hd_banner_box{
  background-image: url(../img/caffeBene.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 600px;
  width: 100%;
  top: 0;
}

header {
  position: relative;
  min-width: 1200px;
  height: 100px;
}

header nav {
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  min-width: 1280px;
  z-index: 100;
  box-sizing: border-box;
  background: #fff;
}

header nav h1 {
  opacity: 0;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 10;
  transition: opacity .3s;
  padding: 2px 24px;

}
header nav h1 a {
  border: none;
  vertical-align: top;
}

header nav h1 a img {

  border: none;
  vertical-align: top;
}

header nav ul.gnb { 
  overflow: hidden;
  transition: .15s;
  background-color: white;
  display: flex;
  column-gap: 84px;
  height: 100%;
  align-items: center;
}
header nav ul.gnb li {
  transition: 0.5s;
  display: inline-block;
  box-sizing: border-box;
}
header nav ul.gnb li:hover {
  font-weight: bold;
  color: #87a5ff;
  text-shadow: text-shadow: 2px 2px 4px #87a5ff;
}
header nav ul.gnb li a {
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  color: #603813;
}
header nav ul.lang {

  position: Absolute;
  top: 40px;
  right: 24px;
}
header nav ul.lang li {
  position: relative;
  display: inline-block;
  padding: 3px 5px 6px;
  transition: 0.5s;
}
header nav ul.lang li:hover {
  font-weight: bold; 
}
header nav ul.lang li a {
  text-transform: capitalize;
  font-size: 14px;
  color: #603813;
}
